@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* --------------------------------------------
  * 공통 클래스 */

  .reset-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .button {
    cursor: pointer;
    border: none;
  }
  
  .a11y-hidden {
    overflow: hidden;
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  ::-moz-selection {
    background: #233d84;
    color: #ffffff;
  }
  
  ::selection {
    background: #233d84;
    color: #ffffff;
  }
html{
    font-size: 10px;
}
  
  body * {
    -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
    tap-highlight-color: rgba(255, 255, 200, 0.3);
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.6rem;
  }
  
  nav a {
    color: inherit;
    text-decoration: none;
  }
  
  a img {
    vertical-align: middle;
  }

  /* 헤더 디자인 */
  .app-header{
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      border-bottom: 1px solid #f5f4fb;
      position: sticky;
      top: 0;
      z-index: 500;
      
  }
  /* 브랜드 로고 */
  .brand{
      margin: 0;
      line-height: 16px;
      background-color: white;
      padding: 2px;
  }
  .brand a{
     display: block;
     padding: 32px; 
  }
  /* 메인메뉴열기버튼 */
  .is-open-menu{
      background-color: white;
      padding: 33px 28px;
  }
  .is-open-menu .ir{
      display: inline-block;
      width: 26px;
      height: 22px;
      background-image: url(./../images/navigation-button.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
}

/* 네비게이션 */
.app-navigation{
    background-color: darkblue;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    /* width: 100%;
    height: 100vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    transition: all 0.4s cubic-bezier(0.66,-0.01,0.3,0.99);
    transform: translate(105vw);
    
}
   
.app-navigation.is-active {
    transform: translateX(0);
  }

.reset-list{
    
    margin-top: 70px;
    margin-left: 20px;
    padding: 11.5px; 
    /* border-top: 0.3px solid grey;  */
}

.app-navigation ul{
    /* background-color: green; */
    width: 100%;
    margin-top: 10px;
    border
}

.app-navigation a{
    display: block;
    padding: 10px;
    transition: all 0.4s ease;
}

.app-navigation a:hover,
.app-navigation a:focus {
  background: #2e437c;
}


.app-navigation li{
    border-bottom: 1px solid #f5f4fb;
}

.is-close-menu{
    order: -1;
    background-color: transparent;
    padding: 18px;

}

.is-close-menu .close{
    color: white;

    

}
/* 메인 콘텐츠 */
.app-main{

  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  
}
.ediya-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  
}
.ediya-menu__item{
  width: 100%;
  min-width: 280px;
  background-color: #f5f5f5;
  position: relative;
}
.ediya-menu__item:nth-child(n+2){
  margin-top: 20px;
}
.ediya-menu a[role="button"]{
  display: block;
  text-align: center;
  padding-bottom: 40px;
  color: inherit;
  text-decoration: none;
  

}

.ediya-menu figure{
  margin: 0;
  
}

.ediya-menu img{
  /* border : 1px solid red; */
  /* background-color: #f8f8f8; */
  max-width: 100%;
  height: auto; 
  transform: scale(0.8);
  transition: all 0.35s;

}
.ediya-menu a[role="button"]:hover img,
.ediya-menu a[role="button"]:focus img{
  transform: scale(1);
  
}
/* 음료 상세 정보 */
  
.ediya-menu__item--detail{
  background-color: rgba(204, 204, 204, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 20px;
  border: 1px solid #202023;
}
.ediya-menu__item--name{
  /* background-color: pink; */
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #202023;
  padding-bottom: 10px;
}
.ediya-menu__item--name span[lang="en"]{
  display: block;
  font-size: 1.4rem;
  color: #999999;
}
.ediya-menu__item--multi-column{
  column-count: 2; 
  column-rule: 1px solid #000000;
  background-color: #eeeeee;
  padding: 20px 20px 10px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

}
.ediya-menu__item--multi-column dl{
  margin: 0;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}

.ediya-menu__item--multi-column dt,
.ediya-menu__item--multi-column dd{
  display: inline-block;
  width: 50%;
  margin: 0;
  font-size: 1.3rem;

}
.ediya-menu__item--detail .is-close-panel{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}
@media all and (min-width: 768px){
  .ediya-menu{
   width: 89.84375%;
   max-width: 1720px;
  }

  .ediya-menu__item{
    width: 47.826087%;
  
  }
  .ediya-menu__item:nth-child(2){
    margin-top: 0;
  }
}