@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* --------------------------------------------
  * 공통 클래스 */

  .reset-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  .button {
    cursor: pointer;
    border: none;
  }
  
  .a11y-hidden {
    overflow: hidden;
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  ::-moz-selection {
    background: #233d84;
    color: #ffffff;
  }
  
  ::selection {
    background: #233d84;
    color: #ffffff;
  }
html{
    font-size: 10px;
}
  
  body * {
    -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
    tap-highlight-color: rgba(255, 255, 200, 0.3);
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.6rem;
  }
  
  nav a {
    color: inherit;
    text-decoration: none;
  }
  
  a img {
    vertical-align: middle;
  }

  /* 헤더 디자인 */
  .app-header{
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      border-bottom: 1px solid #f5f4fb;
      
  }
  /* 브랜드 로고 */
  .brand{
      margin: 0;
      line-height: 16px;
      background-color: white;
      padding: 2px;
  }
  .brand a{
     display: block;
     padding: 32px; 
  }
  /* 메인메뉴열기버튼 */
  .is-open-menu{
      background-color: white;
      padding: 33px 28px;
  }
  .is-open-menu .ir{
      display: inline-block;
      width: 26px;
      height: 22px;
      background-image: url(./../images/navigation-button.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
}

/* 네비게이션 */
.app-navigation{
    background-color: darkblue;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    transition: all 0.4s cubic-bezier(0.66,-0.01,0.3,0.99);
    transform: translate(105vw);
    
}
   
.app-navigation.is-active {
    transform: translateX(0);
  }

.reset-list{
    
    margin-top: 70px;
    margin-left: 20px;
    padding: 11.5px; 
    border-top: 0.3px solid grey; */
}

.app-navigation ul{
    /* background-color: green; */
    width: 100%;
    margin-top: 10px;
    border
}

.app-navigation a{
    display: block;
    padding: 10px;
    transition: all 0.4s ease;
}

.app-navigation a:hover,
.app-navigation a:focus {
  background: #2e437c;
}


.app-navigation li{
    border-bottom: 1px solid #f5f4fb;
}

.is-close-menu{
    order: -1;
    background-color: transparent;
    padding: 18px;

}

.is-close-menu .close{
    color: white;

    

}
/* 메인 콘텐츠 */
.app-main{
  background-color: yellow;
}
.ediya-menu figure{
  width: 200px;
  background-color: lime;
}
.ediya-menu img{
  border : 1px solid red;
  max-width: 100%;
  height: auto;
}

@media all and (min-width: 768px){
  .app-main{
    background-color: pink;
  }
}